.about {
    background-color: #272727;
    position: relative;
}

.centered {
    margin: auto 0;
}

.page-header{
    border-top: 3px;
    border-bottom: 0px;
    border-color: white;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    display: table;
    margin: 0 auto;
}


.header-wrapper{
    padding-top: 40px !important;

}

@media screen and (max-width: 414px) {
    .scroll-to-next, .scroll-to-previous {
        display: none;
        

    }
    .hero-message{
        font-size: 16pt;
        line-height: 24px;
    }
    .header-scroll{
        display: initial !important;
    }
    .about-bio{
        line-height: normal;
    }
}