.activator,
.card {
    width: 390px;
    height: 260px;
    /* background: url(https://cdn.shopify.com/s/files/1/1808/7797/products/fry_meme_enamel_pin_1_800x.jpeg?v=1525442058) center center/cover;
    background-image: url(https://cdn.shopify.com/s/files/1/1808/7797/products/fry_meme_enamel_pin_1_800x.jpeg?v=1525442058); */
    /* background-position-x: center;
    background-position-y: center; */
    /* background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial; 
    background-clip: initial; 
    background-color: initial; */
    border-radius: 0px;
    margin: 0px;
    overflow: hidden;
}

/* .card-content {
    
        pointer-events: none;
   
} */