.modal-button {
    /* background: none;
    border-color: #14a76c;
    border-style: solid;
    border-width: 5px;
    color: black; */
    background-color: #14a76c;
    margin-top: 30px;

}

.modal-button:hover {
    background-color: #14a76c;
    color: white;
}

.modal-button:focus {
    background-color: #14a76c;
    color: white;
}

.material-icons{
    display: none;
}


.modal-content> h4{
    display: none;
}

.modal-content{
    padding: 0 !important;
}
.modal-description{
    padding: 24px !important;
}

.modal-footer{
    padding-left: 24px !important;
    padding-right: 24px !important;
    border: none !important;
}

.modal{
    height: 77% !important;
    max-height: 80% !important;
}

.btn-flat:active {
    background-color: transparent !important;
}

.btn-flat:focus, .btn-flat:hover {
    background-color: transparent !important;
  
}

.btn-flat{
    border: 1px solid #14a76c;
}

/* @media screen and (min-width: 600px)
.slide, .carousel-wrap {
    height: 450px;
} */

/* .slider {
    height: 450px;
    cursor: pointer;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */