.section:nth-of-type(1) {
    color: #fff;
    height: calc(100vh);
}

.hero::before {

    content: "";
    z-index: -1;
}



.flex {
    /* height: 100vh; */
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    display: flex;
    flex-direction: column;

}


.flex-header {
        /* height: 100vh; */
        text-align: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        /* -webkit-align-items: center; */
        -ms-flex-align: center;
        /* align-items: center; */
        -ms-flex-pack: center;
        display: flex;
        flex-direction: column;
    
    justify-content: center;
    -webkit-justify-content: center;

}



/* Header only */
.header::before {
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(https://wallpapertag.com/wallpaper/full/5/7/5/86811-top-soccer-backgrounds-1920x1080.jpg) 50% no-repeat;
    background-size: cover;


}

@media screen and (min-width: 600px) {
    .hero-message {
        font-size: 32pt;
        line-height: 36pt;

    }
}

.hero-name {
    color: palevioletred;
}



.hero-button {
    margin-bottom: 53px;
    padding: 0 10px;

}

.hero-message {
    padding: 0 10px;
}


@media screen and (min-width: 600px) {
    .section {
        line-height: 18pt;
        padding: 100px 0 130px 0;

    }
}

.section {
    color: #616161;
    line-height: 11pt;
    position: relative;
}

.section-header {
    padding: 70px 0 70px 0;
}

.section:nth-of-type(1) .hero-message {
    margin: 0 0 20px 0;
    /* font-size: 16pt; */
    /* line-height: 20pt; */
    z-index: 1;
    pointer-events: none;
}

/* About Only */
.about {
    background-color: blue;
}