.subject {
    color: #fff;
    height: calc(100vh);
    line-height: 11pt;

}

.header {
    background-color: #272727;
}

@media screen and (min-width: 600px) {
    .hero-message {
        font-size: 32pt;
        line-height: 36pt;

    }
}

.hero-name {
    color: #ff652f;
}



.hero-button {
    margin-bottom: 53px;
    padding: 0 10px;

}

@media screen and (min-width: 600px) {
    .subject {
        line-height: 18pt;
        padding: 40px 0 0 0;
    }
}

.hero-message {
    margin: 0 0 20px 0;
    pointer-events: none;
}

.name{
    padding: 200px 0 0 0;

}

/* About Only */